/server/config.toml
/server/target
/server/static
/server/database.sqlite
/server/database.sqlite-journal
/server/renv
/server/models/prediction_model.rds
/server/neural_net_model/*
/server/static/historical_trading_signals_model.svg
/server/static/plot.svg
/server/.Rhistory
/server/models/neural_net_model/*
/app/config.toml
/app/target
/app/dist
server/historical_trading_signals_model_was_trained.svg
server/historical_trading_signals_model_was_trained
venv_meshetar/*
server/models/database.sqlite
server/models/cutoffs.pickle
