:root {
  color-scheme: light dark;
}
      /* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f4511e;
  --primary-hover: #e64a19;
  --primary-focus: rgba(244, 81, 30, 0.125);
  --primary-inverse: #FFF;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #f4511e;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #f4511e;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #FFF;
}

/* Deep-orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

header {  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h1 {
  margin-bottom: 0;
}

.title-icon {
  font-size: 1.5em;
  padding: .1em;
  border-radius: 8%;
  background: var(--blockquote-border-color);
}
